.container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
img{
  border-radius: 50%;

}
body {
  background: rgba(30,29,31,1);
background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
}
.groundTitle{
  color: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
  font-size: 50px;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.imag{
  
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 30%;
  
  
  
}
.btn{
  display:flex;
  justify-content:flex-end;
  
  
}
.title{
  color:rgb(232, 116, 16);
  text-transform: uppercase;
  font-size: 20px;
}

.description{
  color: white !important;
text-transform: lowercase;
font-size:  15px;
}